.box-shadow{
  padding: 3rem 1.25rem;
  position: relative;
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(206, 150, 150, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 1200px) {
  .box-shadow {
    margin-left: 8em;
  }
}