.color{
    color: rgb(191, 0, 255);
}
.navbar-brand{
    font-size: 25px;
    font-weight: 800;
    color: rgb(191, 0, 255) !important;
}
.navbar-toggler{
    border: none !important;
    outline: none !important;
}
.navbar-toggler:focus{
    border: none !important;
    outline: none !important;
}
.navbar .navbar-nav .nav-link {
    position: relative;
}
.navbar .navbar-nav .nav-link:hover {
    color: rgb(191, 0, 255);
}
.navbar .navbar-nav .nav-link::after {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgb(191, 0, 255);
    color: transparent;
    width: 0%;
    content: '.';
    height: 3px;
    transition: all 0.5s;
}
.navbar .navbar-nav .nav-link:hover::after {
    width: 75%;
}
@media only screen and (min-width: 960px) {
    .navbar .navbar-nav .nav-link {
        padding: 1em 0.7em;
    }
    .navbar {
        padding: 0;
    }
    .navbar .navbar-brand {
        padding: 0 0.7em;
    }
}
@media only screen and (max-width: 768px) {
    .navbar .navbar-nav .nav-link::after {
        bottom: 1px;
        right: 100%;
    }
}
.navbar.active{
    background-color: white !important;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}


/* sign in and sign up button */
.sign-in{
    font-weight: 500;
    color: black !important;
}
.sign-in:hover{
    color: rgb(191, 0, 255) !important;
}
.bg-color{
    color: black;
    border-color: rgb(191, 0, 255);
    height: 50px !important;
    text-align: center;
    font-weight: 500;
}
.bg-color:hover{
    border-color: rgb(191, 0, 255);
    color: rgb(191, 0, 255);
}